# Конфигурация и секреты
.env
credentials.json

# Файлы Bundler/RVM/Системные
/.bundle/
/vendor/bundle/
.ruby-version
.ruby-gemset
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Кэш Zeitwerk (если используется)
/tmp/zeitwerk*

# Лог файлы (если будете добавлять)
*.log

